<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>

    <h1>Detailseite</h1>
    <main>
        <h1>
            <%- detailsMovie.title %>
        </h1>
        <img src="https://image.tmdb.org/t/p/w500/<%- detailsMovie.poster_path %>" alt="">
        <a href="/">zurück zur Startseite</a>
        <!-- 453395 -->


    </main>

</body>

</html>